/* root : 최고 권위 (최고 권한으로 모든게 가능함) */
:root {
    /* 자주 사용하는 Color 모음 */
    /* 자주 사용하는 Color에 변수이름을  만듦
      변수이름을 활용함 */
    --mainColor: #eaeaea;
    --secondaryColor: #fff;
    --borderColor: #c1c1c1;
  }


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .header {
    background-color: #eaeaea;
    border-bottom: 1px solid #c1c1c1;
  }
  .main-container {
    width: 1200px;
    margin: 0 auto;
  }
  .greeting-wrapper {
    padding: 46px 0;
  }
  .greeting-wrapper h1 {
    font-size: 56px;
    text-align: center;
  }
  .intro-wrapper {
    background-color: #fff;
    border: 1px solid #c1c1c1;
    border-radius: 5px 5px 0 0;
    box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* 4등분 하기 위해 지역설정 */
    grid-template-areas:
      'nav-wrapper nav-wrapper'
      'info-column do-column';
  }
  .nav-wrapper {
    width: 100%;
    grid-area: nav-wrapper;
    border-bottom: 1px solid #c1c1c1;
    background-color: #eaeaea;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  #dot-1 {
    background-color: #fc6058;
  }
  #dot-2 {
    background-color: #fec02f;
  }
  #dot-3 {
    background-color: #2aca3e;
  }
  .dots-wrapper {
    display: flex;
    padding: 10px;
  }
  .browser-dot {
    cursor: pointer;
    background-color: black;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    margin: 8px;
    box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
    transition: 0.3s;
  }
  .browser-dot:hover {
    transform: scale(2);
  }
  .info-column {
    grid-area: info-column;
    padding: 30px 0;
  }
  .info-column img {
    /* img는 block을 해야 margin 값이 먹는다. */
    display: block;
    width: 230px;
    height: auto;
    object-fit: cover;
    margin: 0 auto;
    border-radius: 5px;
  }
  .info-column h5 {
    text-align: center;
    font-size: 20px;
    margin-top: 20px;
  }
  .do-column {
    grid-area: do-column;
    padding: 50px 10px;
  }
  .preview-shadow {
    background-color: #f0ead6;
    width: 300px;
    height: 180px;
    /* preview 밖으로 밀어내려고~ */
    padding-left: 30px;
    padding-top: 30px;
  }
  .preview {
    width: 330px;
    border: 1.5px solid #17a2b8;
    background-color: rgb(251, 249, 243, 0.8);
    padding: 15px;
    position: relative;
  }
  .corner {
    width: 11px;
    height: 11px;
    border-radius: 50%;
    border: 1.5px solid #17a2b8;
    background-color: #fff;
    position: absolute;
  }
  #corner-tl {
    top: -5px;
    left: -5px;
  }
  #corner-tr {
    top: -5px;
    right: -5px;
  }
  #corner-br {
    bottom: -5px;
    right: -5px;
  }
  #corner-bl {
    bottom: -5px;
    left: -5px;
  }
  .preview h3 {
    font-size: 28px;
    margin: 28px 0;
  }
  .preview p {
    font-size: 18px;
    color: #4b5156;
    margin: 16px 0;
    font-family: 'Roboto Mono', monospace;
  }
  span {
    /* display: inline-block; 이어야 animation 실행! */
    display: inline-block;
    animation: waviy 1.5s infinite;
    animation-delay: calc(0.1s * var(--i));
    font-family: 'Alfa Slab One', cursive;
  }
  @keyframes waviy {
    0%,
    40%,
    100% {
      transform: translateY(0);
    }
    20% {
      transform: translateY(-20px);
    }
  }